<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">

  <!--<mat-list fxFlex>
    <mat-list-item *ngFor="let story of stories">
      <mat-card>
        <h1 mat-card-title> {{story.title|uppercase}} </h1>
        <img mat-card-md-image src={{story.urlToImage}} alt={{story.header}}>
        <p mat-card-content> {{story.description}} </p>

        <p mat-card-footer>
          <span> {{story.source.name}} </span>
          <span> {{story.publishedAt}} </span>
        </p>
      </mat-card>
    </mat-list-item>
  </mat-list>-->

  <mat-sidenav-container class="story-container">
  <mat-sidenav #sidenav class="story-sidenav">
    <mat-list class="list-nav">
    </mat-list>
  </mat-sidenav>
  <mat-card class="story-card"  *ngFor="let article of stories">
    <mat-card-header>
      <mat-card-title class="title">{{article.title}}</mat-card-title>
      <mat-card-subtitle>{{article.source.name}}</mat-card-subtitle>
      <mat-card-subtitle>
        {{article.publishedAt}}
      </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image class="img-article" src={{article.urlToImage}} alt="">
    <mat-card-content>
      <p>
        {{article.description}}
      </p>

    </mat-card-content>
    <mat-card-footer>
      <p></p>
    </mat-card-footer>

  </mat-card>

</mat-sidenav-container>
</div>
